.sidebar{
    background-color: #fff;
    box-shadow:  0 0 10px #efefef;
    min-height:100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5rem;
    justify-content:space-between;
}

.sidebar p{
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    /* background-color: #F3F3F7; */
    width: 100%;
    text-align: left;
    height: 42px;
    border-radius: 10px;
    line-height: 42px;
    padding: 0 .8rem;
    background-color: #EEEEF4;
}

.mainContainer h1{
    color: #5F00D9;
    font-size: 20px;
    font-weight: medium;
    text-transform: uppercase;
}

.mainContainer div{
    margin: 3rem 0 .8rem 0;
}

.sideLinks li{
    list-style-type: none;
    height: 42px;
    width: 100%;
    text-align: left;
    line-height: 42px;
    border-radius: 5px;
    padding: 0 .5rem;
    /* margin-bottom: .8rem; */
    font-size: 14px;
    cursor: pointer;
    transition:background .30s ease;
}

.sideLinks li:hover a,
.sideLinks li:hover{
    color: #171717;
    font-weight:550;
    background-color: #F3F3F7;
}

.sideLinks li a{
    display: flex;
    align-items: center;
    color: #797E82;
    text-decoration: none;
    font-weight: medium;
}
