.layout{
    display: flex;
    justify-content: center;
}

.layoutGrid{
    display: grid;
    max-width: 1184px;
    grid-template-columns: 1fr 1fr;
}

.topBox{
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 0 0 10px #efefef;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.price,
.balance > div,
.portfolioValues{
    display: flex;
    flex-direction: column;
}

.price span:first-child,
.balance > div span:first-child,
.portfolioValues span:first-child{
    color: #535D66;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.price span:last-child,
.portfolioValues span:last-child{
    font-size: 24px;
    color: #171717;
    font-weight: 550;
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.balance{
    display: flex;
    align-items: flex-end;
}

.balance > div:last-child span,
.balance > div:first-child span:last-child{
    display:flex;
    font-size: 24px;
    color: #171717;
    font-weight: 550;
    align-items: center;
    margin-top: .5rem;
}

.balance > div:last-child span span,
.balance > div:first-child span:last-child span{
    display: block;
    height: 15px;
    width: 25px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
    color: #797E82;
    margin-left: .5rem;
    margin-bottom: .5rem;
    background-color: #EEEEF4;
}

.topBox .btns button{
    height: 32px;
    font-size: 14px;
    font-weight: medium;
    width: 107px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #5F00D9;
}

.topBox .btns button:first-child{
    margin-right: .5rem;
    cursor: pointer;
}


.leftBox{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #fff;
    border-radius: 16px;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 10px #efefef;
}

.graphContainer{
    display: flex;
    justify-content: space-between;
}

.price span:last-child span{
    color: #059669;
    font-weight: medium;
    display: flex;
    align-items: center;
    margin-left: .5rem;
    font-size: 14px;
}

.leftBox .btns button{
    height: 38px;
    width: 81px;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #5F00D9;
}

.graph div{
    display: flex;
    justify-content: end;
}

.tabs{
    align-items: center;
    text-align: right;
    margin-left: auto;
    padding: .1rem .2rem;
    border-radius: 5px;
    background-color: #F3F3F7;
}

.tabs span{
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 24px;
    font-size: 12px ;
    color: #171717;
    border-radius: 2px;
}

.tabs span:nth-child(3){
    background-color: #fff;
}

.graphImg img{
    height: 150px;
    width: 100%;
    object-fit: contain;
}

.time{
    display: flex;
    margin-top: .5rem;
    justify-content: space-between;
}

.time span{
    color: #797E82;
    font-size: 12px;
}

.rightBox{
    padding: 1rem 1.5rem;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px #efefef;
}

.rightBox > span{
    font-size: 14px;
    font-weight:350;
    color: #535D66;
}

.box{
    display: flex;
    justify-content: space-between;
}

.text {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.text div:first-child{
    height: 30px;
    width: 30px;
    margin-right: .9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEF4;
}
.text div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.text div:nth-child(2) span:first-child{
    font-size: 14px;
    color: #171717;
}

.text div:nth-child(2) span:last-child{
    color: #797E82;
    font-size: 12px;
}

.text div:last-child span{
    font-size: 14px ;
    color: #171717;
    display: flex;
    align-items: center;
}

.rightBox button{
    height:38px;
    width: 100%;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    outline: none;
    color: #171717;
    font-weight: 550;
    cursor: pointer;
    background-color: #EEEEF4;
}