.header {
    height: 64px;
    width: 100%;
    max-width: 1350px;
    display: flex;
    padding: 0 1rem;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 5px 0 10px #efefef;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1184px;
    align-items: center;
    justify-content: space-between;
}

.container h1 {
    color: #171717;
    font-size: 28px;
    font-weight: medium;
}

.userIcon {
    font-size: 30px;
    color: #171717;
    cursor: pointer;
}

.bars {
    font-size: 25px;
    cursor: pointer;
    margin-right: 1rem;
    color: #171717;
    display: none;
}

.authentication{
    position: absolute;
    background-color: #fff;
    top: 45px;
    opacity: 0;
    visibility: hidden;
    right:15px;
    display: flex;
    padding:.5rem;
    flex-direction: column;
    border-radius:5px;
    transition: .20s ease-in-out;
    box-shadow:  0 0 10px #efefef;
}

.showAuth{
    top: 55px;
    opacity: 1 !important;
    visibility: visible !important;
}

.authentication button{
    height: 40px;
    width:200px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0 .3rem;
    border-radius:3px;
    color: #171717;
    font-weight: 550 !important;
    transition: background .20s ease;
    
}

.authentication button:hover{
    color: #171717 !important;
    background-color: #F3F3F7 !important;
}


@media screen and (max-width:1150px) {
    .bars {
        display: block;
    }
}
