.header {
    height: 64px;
    width: 100%;
    max-width: 1350px;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 5px 0 10px #efefef;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1184px;
    align-items: center;
    justify-content: space-between;
}

.container h1 {
    color: #171717;
    font-size: 28px;
    font-weight: medium;
}

.userIcon {
    font-size: 30px;
    color: #171717;
}

.bars {
    font-size: 25px;
    cursor: pointer;
    margin-right: 1rem;
    color: #171717;
    display: none;
}


@media screen and (max-width:1150px) {
    .bars {
        display: block;
    }
}