.container{
    height: 64px;
    width: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #efefef;
}

.container h1{
    color: #171717;
    font-size: 28px;
    font-weight: medium;
}

.userIcon{
    font-size:30px;
    color: #171717;
}