.bottomleft{
    padding: 1rem 1.5rem;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px #efefef;
}

.bottomright span{
    margin-bottom: 1rem;
    color: #5F00D9;
    border-radius: 100px;
    height: 22px;
    width: 60px;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    background-color: #fff;
}
.bottomleft span{
    margin-bottom: 1rem;
    display: inline-block;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-radius: 100px;
    width: 45px;
    color: #fff;
    font-size: 12px;
    background-color: #5F00D9;
}


.bottomleft p{
    font-size: 18px;
    color: #171717;
    line-height: 22px;
    font-weight: medium;
}

.bottomright{
    padding: 1rem 1.5rem;
    overflow: hidden;
    position: relative;
}

.bottomright img {
    position: absolute;
    right: 0;
    top: 0;
}

.bottomright{
    border-radius: 16px;
    background-color: #5F00D9;
    box-shadow: 0 0 10px #efefef;
}

.bottomright p{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width:876px) {
    .bottomleft,
    .bottomright{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}