.layout{
    display: flex;
    justify-content: center;
}

.layoutGrid{
    display: grid;
    gap: 20px;
    margin-top: 20px;
    max-width: 1184px;
    padding: 0 1rem;
    grid-template-columns: 1fr 1fr;
}