.container{
    border: 1px solid red;
}

.box,
.transactionBox{
    margin: 0 auto;
    width: 100%;
    max-width:960px;
    background-color: #fff;
}

.box{
    background-color: none !important;
    background: none !important;
}

.box > button {
    display: block;
    margin-left: auto;
    height: 38px;
    width: 130px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    font-weight: medium;
    background-color: #5F00D9;
}

