.container{
    border: 1px solid red;
}

.box,
.transactionBox{
    margin: 0 auto;
    width: 100%;
    max-width:960px;
    background-color: #fff;
}

.box{
    background-color: none !important;
    background: none !important;
}

.box > button {
    display: block;
    margin-left: auto;
    height: 38px;
    width: 130px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    font-weight: medium;
    background-color: #5F00D9;
}

.topHeader{
    display: flex;
    height: 45px;
    align-items: center;
    border-bottom: 1px solid #F3F3F7;
    justify-content: space-between;
}

.links{
    height: 100%;
    width: 100%;
    max-width:496px;
}

.links ul{
    height: 100%;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.links ul li{
    line-height: 40px;
    font-size: 13px;
    color: #797E82;
    border-bottom: 2px solid transparent;
    /* display: block; */
}

.links ul li:first-child{
    border-bottom-color: #5F00D9;
}

.links ul li span{
    height:20px;
    width: 25px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: .3rem;
    color:#797E82;
    font-size: 12px;
    border-radius: 100px;
    background-color: #F3F3F7;
}

.inputField{
    display: flex;
    align-items: center;
}

.inputField input,
.inputField input::placeholder{
    border: none;
    margin-left: .3rem;
    outline: none;
    background:none;
    color: #797E82;
    font-size: 14px;
}
