.historyBox{
    min-height: 60px;
    border-bottom: 1px solid #F3F3F7;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}

.historyBox:last-child{
    border-bottom: none;
}

.historyBox > span{
    font-size: 14px;
    color: #171717;
    font-weight:450;
}

.historyBox div:nth-child(2),
.historyBox div:nth-child(3){
    display: flex;
    flex-direction: column;
    text-align: left;
    /* justify-content: center; */
}

.historyBox div:nth-child(2) span:last-child,
.historyBox div:nth-child(3) span:last-child{
    font-size: 12px;
    color: #797E82;
}


.historyBox div:nth-child(4) span{
    display: flex;
    align-items: center;
}

.historyBox div:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
}

.historyBox div:nth-child(5) button{
    height: 22px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    padding: 0 .3rem;
    font-size: 550;
    border-radius: 100px;
    background-color: #797E82;
    width: max-content;
}